body
{
background-color:#333300;
}

a{color:#663300;}

#contenthome
{
float:left;
width:400px;
height:400px;
text-align:center;
  border-radius:200px;
  -moz-border-radius:200px;
  -webkit-border-radius:200px;
background-color:#ffffff;
opacity:1.0;
padding:1px;'
border: 5px none green;
}  

.subdiv
{width:282px;
height:282px;
text-align:center;
margin:59px;
background-color:;
color:#663300;
padding-top:50px;
}

#slideshow
{float:right;
width:700px;
height:400px;
background-color:white;
margin-top:0px;
border: 2px solid #663300;
  border-radius:0.75em;
  -moz-border-radius:0.75em;
  -webkit-border-radius:0.75em;
  padding:1px;
}

#slideshow img {
position:absolute;
width:680px;
height:380px;
padding-top:10px;
padding-bottom:10px;
padding-left:10px;
padding-right:10px;

    z-index:8;
    opacity:0.0;
}

#slideshow img.active {
    z-index:10;
    opacity:1.0;
}

#slideshow img.last-active {
    z-index:9;
}

#seemore ul{
list-style:square;
}

#seemore img{
float:right;
width:30px;
height:30px;
}

#seemore {
visibility:hidden;
font-size:15px;
background-color:#ffffff;
z-index:12;
width:700;
height:700;
padding:30px;
opacity:1.0;
position:absolute;
right:200px;
left:200px;
top:100px;
  border-radius:0.75em;
  -moz-border-radius:0.75em;
  -webkit-border-radius:0.75em;
  -o-border-radius:0.75em;
  -ms-border-radius:0.75em;
 box-shadow: 10px 10px 60px #000000;
 opacity:0.95;
 }
 
#contentc h1{
padding-top:30px;
text-align:center;
} 
 
.contacts{
margin-left:20px;
color:#000000;
} 
 
 #contentc
{
text-align:center;
background-color:#ffffff;
width:100%;
height:450px;
color:#663300;
  border-radius:0.75em;
  -moz-border-radius:0.75em;
  -webkit-border-radius:0.75em;
  }
  
 #contentr
{
padding-top:20px;
text-align:center;
background-color:#ffffff;
width:100%;
height:1000px;
color:#663300;
  border-radius:0.75em;
  -moz-border-radius:0.75em;
  -webkit-border-radius:0.75em;
  }