#editText{
	width:100%;
	min-height:500px; 
	overflow: auto;.
}

#editText{
    -moz-tab-size: 4;
    -o-tab-size:   4;
	-webkit-tab-size:4;
	-ms-tab-size: 4;
    tab-size: 4;
}
#saveWrapper{
	float:right;
}
#msgbox{
	padding-top:1px;
}
#deleteButton{
	float:right;
	margin-top:15px;
}